
body{
    padding:0px;
    margin: 0px;
    font-family: Verdana,sans-serif;
    font-size: 12pt;
    background-color: #CCCCCC;
}


.header{
    background-color: #dddddd;
    width: 100%;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
}

.navbar-h{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333333;
}

ul.navbar-h li{
    float: left;
}

ul.navbar-h li:first-child{
    display:block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
}

ul.navbar-h li:last-child{
    float: right;
}

ul.navbar-h li a{
    display:block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar-h li a:hover{
    background-color: white;
    color: #222222;
}

.module-list{
    float: left;
    width:20%;
    border-radius: 2px;
    border: 3px solid white;
    padding: 0px;
    background-color: #999999;
    overflow: auto;
}

.module-list ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-left: 7pt;
    overflow: hidden;
}

.module-list ul:first-child{
    padding-left:0pt;
}

.module-list ul:last-child{
    border: none;
}

.module-list ul a{
    display: block;
    width: 100%;
    padding: 2px;
    background-color: #777777;
    border-bottom: 1px solid #555555;
    text-decoration: none;
    color: #EEEEEE;
}

.module-list ul a:hover{
    background-color: #de7a28;
}


.page-content{
    background-color: #EFEFEF;
    width: 54%;
    color: #222222;
    padding: 15px;
    margin-left:5px;
    margin-right:5px;
    float:left;
    border-radius: 2px;
    border: 3px solid white;
}

.page-content .page-section{
    border-bottom: 1px solid #999999;
    margin-top: 30px;
}

.page-content .page-section .page-section-title{
    font-size: x-large;
    padding: 10px;
    padding-left:0px;
    border-bottom: 1px solid #AAAAAA;
}

.page-content .page-section .page-section-content{
    font-size: normal;
    padding-top:5px;
    padding-bottom:5px;
}

.context-box{
    width:20%;
    border-radius: 2px;
    border: 3px solid white;
    padding: 10px;
    margin:0px;
    margin-right:10px;
    background-color: #EFEFEF;
    float: left;
}

.context-box ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-left: 7pt;
    overflow: hidden;
    display: block;
    width: 100%;
}
